<nav class="pt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Explore latest</li>
    </ol>
</nav>
<h1 class="pt-2 pb-4">Explore latest</h1> 

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(recipe!= '') { %>
        <% recipe.forEach(function(recipe, index) {%>

    <a href="/recipe/<%- recipe._id %>" class="col text-center category_link">
        <div class="category_img category_img--large shadow">
            <img src="/uploads/<%- recipe.image %>" alt="<%- recipe.name %>">
        </div>
        <div><%- recipe.name %></div>
    </a>
    <% }) %>
    <%} %>

</div>