<h2 class="pt-2 pb-4">Search Results</h2>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(recipe!= '') { %>
        <% recipe.forEach(function(recipe, index) {%>

    <a href="/recipe/<%- recipe._id %>" class="col text-center category_link">
        <div class="category_img category_img--large shadow">
            <img src="/uploads/<%- recipe.image %>" alt="<%- recipe.name %>">
        </div>
        <div><%- recipe.name %></div>
    </a>
    <% }) %>
    <%} %>

</div>